<html>
<head>
	<title>Entries starting with <%= "#{params[:letter]}" %></title>
</head>
<body>
	<table>
		<tr>
			<% @people.first.attributes.keys.each do |header|%>
				<th><%=header%></th>
			<%end%>
		</tr>
	  <% @people.each do |person| %>
		  <tr>
			  <%person.attributes.values.each do |value|%>
			    <td><%=value%></td>
	  	  <%end%>
		  </tr>
	  <% end %>
	</table>
	<%= link_to "Back", url_for(:person, :index)%>
</body>
</html>