<html>
<head>
	<title>Glykeria's Addressbook</title>
</head>
<body>
  <%=flash[:notice]%>
	<h1>Glykeria's Addressbook</h2>

<h2><%= link_to "Sign in", url_for(:person, :login)%> to see the addressbook or <%= link_to "Sign up", url_for(:person, :sign_up)%> if you don't have an account already!</h2>

</body>
</html>