<html>
<head>
	<title></title>
</head>
<body>
	<%= link_to "Create a new entry", url_for(:person, :new)%>
	<%= link_to "See all entries", url_for(:person, :all)%>

  <% ("A".."Z").each do |letter| %>
  	<%= link_to letter, url_for(:person, :lastname, letter)%> 
  <% end %>

</body>
</html>