<html>
<head>
	<title><%=@person.first_name%></title>
</head>
<body>
	<table>
		<%@person.attributes.keys.each do |header|%>
			<th><%=header%></th>
	  <%end%>
  <tr>
		<%@person.attributes.values.each do |value|%>
			<td><%=value%></td>
		<%end%>
	</tr>
	</table>
</body>
</html>